<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body id="moon">
  <h1>PhaSe.T</h1>
  <h2 id="time"></h2>
  <h2>Current Moon Phase</h2>
  <div class="moonphase">
    <button>New PhaSe.t</button>
  </div>
  <h3>Your PhaSe.ts</h3>
  <!-- randomized quotes DOM manipulated by js -->
