<% include ./partials/boilerplate %>
    <h1>TESTING</h1>
    <h3>123...</h3>
    <form action="">
      <input type="text">
      <input type="password">
      <input type="submit">
    </form>
<% include ./partials/end %>
