<!-- go to user profile -->

<% include ./partials/boilerplate %>
  <h3>Login</h3>
  <form action="/moon">
    <input placeholder="username" type="text"><br>
    <input placeholder="password" type="password"><br>
    <input placeholder="email" type="text"><br>
    <input placeholder="zip code" type="text"><br>
    <input value="Login" type="submit">
  </form>
  <a href="./register">New User?</a>
<% include ./partials/end %>
